.square {
  border: 1px solid #222;
  display: block;
  width: 100px;
}
.header {
  width: 100%;
  background-color: aqua;
  height: 60px;
}
.router-layout {
  display: flex;
}
.side-nav {
  height: 100%;
  background-color: burlywood;
}
